*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*to change*/
}

.main{
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*=====head=====*/

#head{
    background-image: url(../images/background.jpg) ; /*Change image to yourself*/
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#head ::after{
    content: '';
    background-color: #D1D0A3; /*use a complementary colour*/
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#head h1{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: rgb(255, 255, 255);

}
/*=====Intro=====*/
#Intro{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px;
    padding : 30px;
    background-color: #98B9AB;
    margin : 10px;
    border-radius: 10px;
}

.intro h2{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    line-height: 2.5rem ;
}

.intro p{
    font-size: 1.2rem;
}

/*=====education=====*/
.edu h2{
    display: flex;
    justify-content: center;
    line-height: 2.5rem ;
}

#Education{
    min-height: 10vh;
    color: rgb(0, 0, 0);
    margin : 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1D0A3;
    border-radius: 5px;
}
/*=====Subjects=====*/
.edu p{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}


.Subjects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    position: relative;
    top: 35px;
}
.tpc{
    margin: 2px;
    background-color:#5894C6;
    border-radius: 5%;
    font-size: 0.9rem;
    font-weight: 50;
    height: 65px;
}

/*=====Interest=====*/
#Interest{
    min-height: 10vh;
    position: relative;
    top: 50px;
    color: rgb(0, 0, 0);
    margin : 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #98B9AB;
    border-radius: 5px;
}

.img{
    padding: 10px;
    width: 100%;
    height: 100%;
}

