@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

* {
  font-family: Open Sans;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

/*scroll bar*/

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #000000;
}
body::-webkit-scrollbar-thumb {
  background: #edae49;
}

/*=====head=====*/
.header {
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} 

#head {
  background-image: url(../images/background1.jpg); /*Change image to yourself*/
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#head ::after {
  content: "";
  background-color: #d1d0a3; /*use a complementary colour*/
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#head h1 {
  display: block;
  width: fit-content;
  font-size: 3rem;
  position: relative;
  color: rgb(255, 255, 255);
  bottom: 80px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: #98b9ab;
}
.navbar {
  flex: 1;
}

.navbar ul li { 
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navbar ul li a {
  color: #f7f4f4;
  font-size: 12px;
  text-decoration: none;
}

.right{
    width: 75px;
    text-align: right;
}


/*=====Intro=====*/
#Intro {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px;
  padding: 30px;
  background-color: #98b9ab;
  margin: 10px;
  border-radius: 10px;
}

.intro p {
  font-size: 1rem;
}

/*=====education=====*/
.edu h2 {
  display: flex;
  justify-content: center;
  line-height: 2.5rem;
}

#Education {
  min-height: 10vh;
  color: rgb(0, 0, 0);
  margin: 10px;
  background-color: #d1d0a3;
  border-radius: 5px;
}
/*=====Subjects=====*/
.edu p {
  font-size: 1rem;
}

.Subjects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  position: relative;
  top: 35px;
  margin: 25px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.tpc {
  margin: 4px;
  color: #000000;
  border: 3px solid #edae49;
  background-color: transparent;
  border-radius: 5%;
  font-size: 0.9rem;
  height: 80px;
}

.Subjects :hover {
  color: rgb(255, 253, 253);
  background-color: rgb(89, 89, 112);
}

/*=====Extra=====*/
#extra {
  min-height: 10vh;
  position: relative;
  top: 50px;
  color: rgb(0, 0, 0);
  margin: 10px;
  justify-content: center;
  background-color: #98b9ab;
  border-radius: 5px;
}
#extra p {
  font-size: 1rem;
}

#extra h2 {
  display: flex;
  justify-content: center;
}

.mural {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 20px;
}

.act {
  width: 100%;
  height: 43px;
  border: 1px solid rgb(0, 0, 0);
  margin: 2px;
}

.wins {
  margin-left: 20px;
}
/*===interest*/
#interests {
  position: relative;
  top: 45px;
  min-height: 10vh;
  color: rgb(0, 0, 0);
  margin: 10px;
  justify-content: center;
  background-color: #d1d0a3;
  border-radius: 5px;
}

#interests h2 {
  display: flex;
  justify-content: center;
}

.int ul {
  margin: 20px;
}

/*===footer===*/
#contact {
  position: relative;
  top: 45px;
  color: rgb(0, 0, 0);
  margin: 10px;
  background-color: #98b9ab;
  border-radius: 5px;
}

footer h2 {
  display: flex;
  justify-content: center;
}
/*===Form===*/

form {
  margin: 3px;
}
.input {
  width: 400px;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.area {
  margin-top: 10px;
  height: 150px;
  width: 400px;
  padding: 10px;
}
.btn {
  border-radius: 20px;
  margin-top: 18px;
  padding: 10px;
  background-color: bisque;
  border: none;
  cursor: pointer;
}

.social{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    height: 10px;
}
.social img{
    height: 50px;
    text-align: center;
}

/*===responsive design===*/
@media only screen and (min-width:769px){
    #head {
        height: 110vh;
      }

      .input {
        width: 800px;
      }
      .area {
        width: 800px;
      }
}