*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*to change*/
}

.main{
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*=====head=====*/

#head{
    background-image: url(../images/background.jpg) ; /*Change image to yourself*/
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#head ::after{
    content: '';
    background-color: #D1D0A3; /*use a complementary colour*/
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#head h1{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: rgb(255, 255, 255);

}
/*=====Intro=====*/
#Intro{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px;
    padding : 30px;
    background-color: #98B9AB;
    margin : 10px;
    border-radius: 10px;
}

.intro h2{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    line-height: 2.5rem ;
}

.intro p{
    font-size: 1.2rem;
}

/*=====experience=====*/
.exp h2{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    border: 4px;
}

#Experience{
    color: rgb(0, 0, 0);
    margin : 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1D0A3;
    border-radius: 5px;
}
/*=====Jobs=====*/
.Jobs{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.job1{
    margin: 10px;
    background-color: rgb(143, 143, 149);
    border-radius: 5%;
}
.job1 p{
 margin: 5px;
}

.job2{
    margin: 10px;
    background-color: rgb(143, 143, 149);
    border-radius: 5%;
}
.job2 p{
 margin: 5px;
}

.job3{
    margin: 10px;
    background-color: rgb(143, 143, 149);
    border-radius: 5%;
}
.job3 p{
 margin: 5px;
}
